@media (max-width: 1200px) {
    .hero.hero-text.hero-v-3 .hero-title {
        margin-bottom: 0px;
    }

    .hero .img-hero .courier-call {
        position: absolute;
        bottom: 50px;
        right: inherit;
        left: 50%;
        transform: translateX(-50%);
    }

    .subscribe-block .subs-text {
        padding: 0 0 0 5%;
    }

    .subscribe-block .follow-social.dribbble {
        position: absolute;
        top: calc(50% - 43px);
        right: -43px;
        padding: 25px;
        font-size: 35px;
        background-color: #c7366e;
        -webkit-animation-delay: 2s;
        animation-delay: 2s;
    }

    .glide__bullets .glide__bullet img {
        width: 60px;
        height: 60px;
    }

    .glide__bullets .glide__bullet:nth-child(1) {
        left: 15%;
    }

    .glide__bullets .glide__bullet:nth-child(2) {
        right: 15%;
    }

    .glide__bullets .glide__bullet:nth-child(3) {
        left: 5%;
    }

    .glide__bullets .glide__bullet:nth-child(4) {
        right: 5%;
    }

    .glide__bullets .glide__bullet.glide__bullet--active img {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
    }

    .lg-mb-60 {
        margin-bottom: 60px;
    }

    .lg-mb-40 {
        margin-bottom: 40px;
    }

    .lg-text-center {
        text-align: center;
    }
}

@media (max-width: 991px) {
    .creative-menu .menu-list li a .tilt {
        position: absolute;
        bottom: inherit;
        top: 50%;
        left: inherit;
        right: 0px;
        -webkit-transform: translateX(calc(0% + -5px)) translateY(-50%);
        transform: translateX(calc(0% + -5px)) translateY(-50%);
    }

    .creative-menu .menu-list li a .tilt::after {
        content: '';
        width: 10px;
        height: 10px;
        top: 50%;
        left: -5px;
        -webkit-transform: translateX(0) translateY(-50%);
        transform: translateX(0) translateY(-50%);
    }

    .creative-menu .menu-list li a:hover .tilt {
        -webkit-transform: translateX(calc(100% + 15px)) translateY(-50%);
        transform: translateX(calc(100% + 15px)) translateY(-50%);
        opacity: 1;
    }

    .creative-menu.md-border-none {
        border: none;
    }

    .creative-menu .menu-list.with-text {
        background-color: transparent;
        align-items: flex-start;
        padding: 0;
    }

    .creative-menu .menu-list.with-text li {
        margin-bottom: 10px;
    }

    .creative-menu .menu-list.with-text li:last-child {
        margin-bottom: 0px;
    }

    .creative-menu .menu-list.with-text li a {
        background-color: #746add;
    }

    .creative-menu .menu-list.with-text li a:hover {
        background-color: #5f57b6;
    }

    .creative-menu .menu-list.with-text li a.current:hover {
        background-color: #ffa046;
    }

    .creative-menu .menu-list.with-text li a .tilt {
        position: relative;
        bottom: inherit;
        top: inherit;
        left: inherit;
        right: inherit;
        -webkit-transform: translateX(calc(0% + 0px)) translateY(0%);
        transform: translateX(calc(0% + 0px)) translateY(-0%);
    }

    .creative-menu .menu-list.with-text li a .tilt::after {
        content: '';
        display: none;
    }

    .creative-menu .menu-list.with-text li a:hover .tilt {
        -webkit-transform: translateX(calc(0% + 0px)) translateY(0%);
        transform: translateX(calc(0% + 0px)) translateY(0%);
        opacity: 1;
    }

    .img-hero.version-3:after {
        content: '';
        width: 70%;
        height: 70%;
        border-radius: 50%;
        border: 1px solid #cbcbcb;
        position: absolute;
        top: calc(15% + 150px);
        left: 15%;
        opacity: 0.5;
    }

    .img-hero.version-3:before {
        content: '';
        width: 110%;
        height: 110%;
        border-radius: 50%;
        border: 1px solid #cbcbcb;
        position: absolute;
        top: calc(-5% + 150px);
        left: -5%;
        opacity: 0.5;
    }

    .img-hero.version-3 .floating-block {
        width: 110%;
        height: 110%;
        top: calc(-5% + 150px);
        left: -5%;
    }

    .img-hero.version-3 .floating-block .floating-element .hadget-user-version-2 {
        width: 160px;
        height: 160px;
    }

    .img-hero.version-3 .floating-block .floating-element .hadget-user-version-2 span {
        font-size: 16px;
    }

    .img-hero.version-3 .floating-block .floating-element .hadget-user-version-2 span:nth-child(1) {
        font-size: 35px;
    }

    .hero.hero-text.hero-v-3 {
        margin-top: 50px;
    }

    .hero .img-hero .img-animation .for-logo {
        width: 160px;
        height: 160px;
    }

    .hero .img-hero .img-animation .for-logo img {
        width: 100px;
    }

    .hero .img-hero .hadget-user {
        position: absolute;
        width: 170px;
        height: 170px;
    }

    .hero .img-hero .hadget-user span {
        font-size: 16px;
    }

    .hero .img-hero .hadget-user span:nth-child(1) {
        font-size: 35px;
        font-weight: bold;
    }

    .hero.hero-text.hero-v-2 {
        text-align: right;
        padding-left: 0;
        padding-right: 0px;
    }

    .over-block .reservation-block {
        position: relative;
        transform: translateY(0%);
    }

    .my-resume-version2 {
        padding-left: 0px;
    }

    .nav-switch {
        display: flex;
    }

    .creative-menu.fixed-up {
        -webkit-transform: translateY(-50%) translateX(calc(-100% + -30px));
        transform: translateY(-50%) translateX(calc(-100% + -30px));
    }

    .creative-menu.every-fixed.fixed-up {
        -webkit-transform: translateY(-50%) translateX(calc(-100% + -30px));
        transform: translateY(-50%) translateX(calc(-100% + -30px));
    }

    .creative-menu.action {
        -webkit-transform: translateY(-50%) translateX(0%);
        transform: translateY(-50%) translateX(0%);
    }

    .creative-menu.every-fixed.action {
        -webkit-transform: translateY(-50%) translateX(0%);
        transform: translateY(-50%) translateX(0%);
    }

    .creative-menu.action .nav-switch {
        right: -30px;
        border-radius: 50%;
    }

    .creative-menu {
        position: fixed;
        top: 50%;
        left: 30px;
        -webkit-transform: translateY(-50%) translateX(calc(-100% + -30px));
        transform: translateY(-50%) translateX(calc(-100% + -30px));
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        background-color: transparent;
    }

    .creative-menu .menu-list {
        padding: 10px 8px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        backdrop-filter: none;
    }

    .creative-menu .menu-list li a:hover i {
        color: #ffffff;
    }

    .creative-menu .menu-social {
        padding: 10px 8px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .section-title-block .section-desc {
        padding: 0;
    }

    .section-home {
        padding: 60px 0 120px;
    }

    .section-home.version2 {
        padding: 120px 0 120px;
    }

    .hero.hero-text {
        padding: 0;
    }

    .hero {
        text-align: center;
    }

    .hero .list-person-character {
        display: flex;
        justify-content: center;
    }

    .hero .list-person-character li {
        flex: 1;
        margin-right: 0;
    }

    .hero.hero-text.hero-v-2 {
        text-align: center;
    }

    .subscribe-block .subs-text {
        text-align: center;
        padding: 0;
        margin-bottom: 30px;
    }

    .social-block {
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 0 0 50px;
    }

    .subscribe-block .follow-social {
        padding: 15px;
        font-size: 20px;
        animation: none;
        margin: 0 5px;
    }

    .subscribe-block .follow-social.instagram {
        position: relative;
        top: inherit;
        right: inherit;
        display: inline-block;
    }

    .subscribe-block .follow-social.dribbble {
        position: relative;
        top: inherit;
        right: inherit;
        padding: 15px;
        font-size: 20px;
        display: inline-block;
    }

    .subscribe-block .follow-social.github {
        position: relative;
        bottom: inherit;
        right: inherit;
        display: inline-block;
    }

    .md-justify-content-start {
        justify-content: start !important;
    }

    .md-mb-30 {
        margin-bottom: 30px;
    }

    .md-mb-40 {
        margin-bottom: 40px;
    }

    .md-text-center {
        text-align: center;
    }

    .client-say .desc-say {
        padding: 0px 10%;
    }

    .info-form {
        margin-bottom: 0;
    }

    .info-form .info-form-block {
        margin-bottom: 40px;
        text-align: center;
    }

    .map {
        height: 350px;
        margin-bottom: 40px;
    }
}

@media (max-width: 991px) and (min-width: 768px) {
    .md-justify-content-end {
        justify-content: end !important;
    }
}

@media (max-width: 768px) {
    .hero.hero-text.hero-v-3 .hero-title {
        font-size: 45px;
        line-height: 60px;
    }

    .hero .img-hero .online-chat-block {
        position: absolute;
        top: inherit;
        left: 50%;
        bottom: 30px;
        transform: translateX(-50%);
    }

    .hero .img-hero .online-chat-block:hover {
        transform: translateX(-50%) translateY(-5px);
    }

    .about-me .personal-info.left li i {
        margin-right: 10px;
        margin-left: 0px;
    }

    .about-me .personal-info.left li a.mark {
        margin-left: 10px;
        margin-right: 0px;
    }

    .about-me .personal-info.left li span.mark {
        margin-left: 10px;
        margin-right: 0px;
    }

    .about-me .personal-info.left {
        padding-right: 0px;
    }

    .about-me .personal-info.left li {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .about-me .personal-info.right {
        padding-left: 0px;
    }

    .about-me .personal-info.right li {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .medical-feature-block .feature-block.with-map .feature-block-map {
        height: 300px;
    }

    .blog-item .img-blog .data-type-blog {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        opacity: 1;
    }

    .works .img-project .layer-project {
        -webkit-transform: translateX(-50%) translateY(0px);
        transform: translateX(-50%) translateY(0px);
        opacity: 1;
    }

    .glide-blog .glide__arrows {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        opacity: 1;
    }

    .our-menu .menu-item .top-avatar-menu {
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
    }

    .section-title-block .section-desc {
        padding: 0 0%;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 1px;
    }

    .hero .img-hero img.img-animation {
        left: -10px;
        bottom: -60px;
    }

    .hero .img-hero .hadget-user {
        right: -10px;
        top: -60px;
        width: 160px;
        height: 160px;
    }

    .hero .img-hero .img-animation {
        position: absolute;
        bottom: 100px;
    }

    .img-hero.version-3 .floating-block .floating-element .hadget-user-version-2 {
        width: 140px;
        height: 140px;
    }

    .img-hero.version-3 .floating-block .floating-element .hadget-user-version-2 span {
        font-size: 16px;
    }

    .img-hero.version-3 .floating-block .floating-element .hadget-user-version-2 span:nth-child(1) {
        font-size: 25px;
    }

    .img-hero.version-3:after {
        content: '';
        width: 70%;
        height: 70%;
        top: calc(15% + 100px);
        left: 15%;
        opacity: 0.2;
    }

    .img-hero.version-3:before {
        content: '';
        width: 90%;
        height: 90%;
        top: calc(5% + 100px);
        left: 5%;
        opacity: 0.2;
    }

    .img-hero.version-3 .floating-block {
        width: 90%;
        height: 90%;
        top: calc(5% + 100px);
        left: 5%;
    }

    .about-me .desc-me {
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 1px;
        margin-top: 10px;
        margin-bottom: 35px;
        text-align: center;
    }

    .about-me {
        padding: 50px 25px;
    }

    .about-me .desc-me-footer {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .about-me .desc-me-footer img {
        width: 265px;
        padding-right: 0px;
        margin-right: 0px;
        margin-bottom: 30px;
        border-right: 0px solid #5c5c5c;
    }

    .section-title-block .section-title {
        font-size: 50px;
        line-height: 40px;
    }

    .section-sub-title {
        font-size: 30px;
    }

    .hero .name {
        font-size: 65px;
        line-height: 70px;
    }

    .single-page-title-block .single-page-title {
        font-size: 50px;
    }

    .education-block .item-educ-ex .list-edu-ex li.right-i .w-info {
        padding-right: 0;
        padding-left: 0;
    }

    .education-block .item-educ-ex .list-edu-ex li .w-info {
        padding-right: 0;
    }

    .glide__bullets {
        display: none;
    }

    .client-say .desc-say {
        padding: 0px 0%;
        font-size: 15px;
        line-height: 25px;
    }

    .slider-arrow-medical.glide__arrows {
        position: relative;
        top: inherit;
        -webkit-transform: translateY(0);
        transform: translateY(0);
        width: 100%;
    }

    .slider-arrow-client-say-2.glide__arrows {
        position: relative;
        top: inherit;
        -webkit-transform: translateY(0);
        transform: translateY(0);
        width: 100%;
    }

    .glide__arrows {
        position: absolute;
        top: 30px;
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
        width: 95%;
    }

    .blog-big-block .img-animation {
        opacity: 0.1;
    }

    .blog-big-block .img-animation.opacity-05 {
        opacity: 0.1;
    }

    .client-say {
        padding: 0 20px 0 0;
    }

    .footer-block.left {
        text-align: center;
    }

    .footer-block.right {
        text-align: center;
    }

    .sm-justify-content-center {
        justify-content: center !important;
    }
}

@media (max-width: 576px) {
    .hero .hero-title-v-2.food {
        font-size: 50px;
    }

    .index-home {
        padding: 150px 0 0 0;
    }

    .index-home .index-intro-text {
        font-size: 50px;
        line-height: 60px;
    }

    .search-block-overlay {
        width: 350px;
    }
}